/** Scope your css rules in a specific class to prevent merge conflicts! **/
.newsletter{
    display: flex;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-transform: none;
    font-style: normal;
    font-family: Open sans,sans-serif;
}
    margin: 0;
    padding: 0;
}
.newsletter-text{
    display: block;
}
.newsletter-title{

    background: #ea5635;
    margin-bottom: 0;
    font-size: 52px;
    font-weight: 400;
    line-height: 1;
    font-family: Give You Glory,Georgia,serif;
    margin-top: 16px;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    text-transform: none;
    font-style: normal;
    font-family: Open sans,sans-serif;

}
.newsletter-button{
    background-color: #ea5635;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: .39px;
    text-decoration: none;
    font-family: Open sans,sans-serif;
    border: 0;
    border-radius: 8px 8px 8px 8px/10px 10px 10px 10px;
    padding: 0 28px;
    height: 48px;
    box-sizing: border-box;
}